<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="icon" type="image/png" href="~/assets/img/icon.png" />
	<link rel="stylesheet" href="~/assets/css/home.css">
	@RenderSection("css", required:false)
	<title>Reprizo</title>
</head>

<body>

	<!-- Header -->
	@(await Component.InvokeAsync("Header"))

	

		@RenderBody()

	

	<!-- Footer -->
	@(await Component.InvokeAsync("Footer"))





	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
			integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
			crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"></script>
	<script src="~/assets/js/home.js"></script>
	@RenderSection("script", required:false)
</body>

</html>