@model Paginate<BlogVM>
@{
    ViewData["Title"] = "Index";
}

@section css{
    <link rel="stylesheet" href="~/assets/css/blog.css">
}

<main>

    <!-- Banners -->

    <section id="banner">
        <div class="banner-all" style="background-image: url(/assets/img/@ViewBag.BlogBanner);">
            <h1>Blogs</h1>
        </div>
    </section>

    <!-- Blogs -->

    <section id="blogs">
        <div class="container">
            <div class="blogs-all">
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12">

                        @foreach (var blog in Model.Datas)
                        {
                            <div class="blog">
                                <div class="image">
                                    <img src="~/assets/img/blog/@blog.Image" alt="">
                                </div>
                                <div class="content">
                                    <p>@blog.CreateDate.ToString("MMMM ,d yyyy")</p>
                                    <h1>@blog.Title</h1>
                                    <p>
                                        @blog.Description.Substring(0, (int)Math.Ceiling(blog.Description.Length * 0.1)) .....

                                    </p>
                                    <a asp-action="BlogDetail" asp-route-id="@blog.Id"><span></span> READ MORE</a>
                                </div>
                                <hr>
                            </div>

                        }
                        
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="latest-post">
                            <h3>Latest posts</h3>
                            @foreach (var latest in ViewBag.Blogs)
                            {
                                <div class="posts">
                                    <div class="row">

                                        <div class="col-6">
                                            <div class="image">
                                                <img src="~/assets/img/blog/@latest.Image" alt="" style="width:100%">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="content">
                                                <a asp-action="BlogDetail" asp-route-id="@latest.Id">@latest.Title</a>
                                                <p>@latest.CreateDate.ToString("MMMM ,d yyyy")</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }

                            

                        </div>
                    </div>
                    <!-- Pagination -->
                    <div class="pagination-area">
                        <nav aria-label="...">
                            <ul class="pagination">
                                <li class="page-item @(Model.HasPrevios ? "" : "disabled")">
                                    <a class="page-link" asp-action="Index" asp-route-page="@(Model.CurrentPage-1)" tabindex="-1">
                                        <i class="fa-solid fa-angle-left"></i>
                                    </a>
                                </li>
                                @for (int i = 1; i <= Model.TotalPage; i++)
                                {
                                    <li class="page-item  @(Model.CurrentPage==i ? "active" : "")">
                                        <a class="page-link" asp-action="Index" asp-route-page="@i">@i <span class="sr-only">(current)</span></a>
                                    </li>
                                }

                                <li class="page-item @(Model.HasNext ? "" : "disabled")">
                                    <a class="page-link" asp-action="Index" asp-route-page="@(Model.CurrentPage + 1)"><i class="fa-solid fa-angle-right"></i></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
    </section>

</main>

@section script{
    <script src="~/assets/js/blogdetail.js"></script>
}

