@model AboutVM
@{
    ViewData["Title"] = "Index";
}

@section css{
    <link rel="stylesheet" href="~/assets/css/about.css">
}
<main>
    <!-- Banners -->

    <section id="banner">
        <div class="banner-all" style="background-image: url(/assets/img/@ViewBag.AboutBanner);">
            <h1>About</h1>
        </div>
    </section>


    <!-- Watch Service -->

    <section id="service">
        <div class="container">
            <div class="service-all">
                <div class="row">
                    <div class="col-lg-6 col-sm-12 col-md-12">
                        <div class="text">
                            <h1>@Model.Repair.Title</h1>
                            <p>
                                @Model.Repair.Description
                            </p>
                            <a asp-controller="Contact" asp-action="Index">CONTACT US</a>
                        </div>

                    </div>
                    <div class="col-lg-6 col-sm-12 col-md-12">
                        <div class="image">
                            <img src="~/assets/img/@Model.Repair.Image" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Client count -->
    <section id="clients">
        <div class="container">
            <div class="client-all">
                <div class="client">
                    <span>2,568</span>
                    <h6>CLIENTS</h6>
                </div>
                <div class="client">
                    <span>38</span>
                    <h6>STORES</h6>
                </div>
                <div class="client">
                    <span>11,587</span>
                    <h6>ITEMS FIXED</h6>
                </div>
                <div class="client">
                    <span>58</span>
                    <h6>PROFESSIONALS</h6>
                </div>
                <div class="client">
                    <span>4</span>
                    <h6>LOCATIONS</h6>
                </div>

            </div>
        </div>
    </section>

    <!-- Teams -->

    <section id="teams">
        <div class="container">
            <div class="title">
                <h1>@Model.Best.Title</h1>
                <p>
                    @Model.Best.Description
                </p>
            </div>
            <div class="row">

                @foreach (var team in Model.Teams)
                {
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="team-all">

                            <div class="image">
                                <img src="~/assets/img/about/@team.Image" alt="">
                            </div>
                            <div class="text">
                                <h6>@team.Position</h6>
                                <h1>@team.FullName</h1>
                            </div>
                        </div>

                    </div>

                }
                
            </div>


        </div>
    </section>

</main>



@section script{
    <script src="~/assets/js/about.js"></script>
}
