@model List<WishlistDetailVM>
@{
    ViewData["Title"] = "Index";
}

@section css{
    <link rel="stylesheet" href="~/assets/css/wishlist.css">
}

<main>

    <!-- Banners -->

    <section id="banner">
        <div class="banner-all" style="background-image: url(/assets/img/settings/@ViewBag.WishlistBanner);">
            <h1>Your Wishlist</h1>
        </div>
    </section>

    <!-- Wishlist -->

    <section id="wishlists">
        <div class="container">
            <div class="wishlist-all">
                <div class="empty @(Model.Count == 0 ? "":"d-none")">
                    <h1>Your Wishlist</h1>
                    <p>Your wishlist is currently empty.</p>
                    <a asp-controller="Shop" asp-action="Index">CONTINUE SHOPPING</a>
                </div>

                <div class="wishlist-table @(Model.Count == 0 ? "d-none":"")">
                    <h1>Your Wishlist</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Add to Cart</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <img src="~/assets/img/product/@item.Image">
                                    </td>
                                    <td>@item.Name</td>
                                    <td>@item.Price $</td>
                                    <td data-id="@item.Id"><i class="fa-solid fa-cart-shopping cart-add-basket"></i></td>
                                    <td>
                                        <button type="submit" data-id="@item.Id" class="btn btn-outline-danger delete-wishlist-item">Delete</button>
                                    </td>
                                </tr>
                            }
                            

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </section>


</main>



