@*@using Reprizo.Models;*@
@model HeaderVM
@*@inject UserManager<AppUser> userManager;
@(
     Reprizo.Models.AppUser user = userManager.Users.FirstOrDefault(m => m.UserName == User.Identity.Name);
)*@

<header>
	<div class="container">
		<div class="header-top">
			<div class="row align-items-center">
				<div class="col-lg-5">
					<nav>
						<a asp-controller="Home" asp-action="Index">Home</a>
						<a asp-controller="Shop" asp-action="Index">Shop</a>
						<a asp-controller="Blog" asp-action="Index">Blog</a>
						<a asp-controller="About" asp-action="Index">About</a>
						<a asp-controller="Contact" asp-action="Index">Contact</a>
					</nav>
				</div>
				<div class="col-lg-2">
					<div class="logo">
						<a asp-controller="Home" asp-action="Index"><img class="logo w-100" src="~/assets/img/settings/@Model.Logo" alt=""></a>

					</div>
				</div>
				<div class="col-lg-5">
					<div class="header-right">
						@if (Model.UserFullName is not null) @*User.Identity.IsAuthenticated*@
						{
							<a href="#">@Model.UserFullName</a>
							<form asp-controller="Account" asp-action="Logout" asp-route-userId="@Model.UserId" style="display: inline;">
								<input type="submit" value="Logout" style="background-color:brown; color:white;border:none" />
							</form>
						}
						else
						{
							<a asp-controller="Account" asp-action="Login">Login</a>
							<a asp-controller="Account" asp-action="Register">Register</a>
						}
						
						<a asp-controller="Wishlist" asp-action="Index"><i class="fa-regular fa-heart"></i> Wishlist <span>(<span class="wishlist-count">@Model.WishlistCount</span>)</span></a>
						<a asp-controller="Cart" asp-action="Index"><i class="fa-solid fa-cart-shopping"></i> Cart <span>(<span class="basket-count">@Model.BasketCount</span>)</span></a>
					</div>
				</div>
			</div>
			<hr>

		</div>
	</div>
</header>
