@model List<SliderVM>

@{
    ViewData["Title"] = "Index";
}

<div class="container my-5">
    <h1 class="text-center mt-3 mb-3">Sliders</h1>
    <a class="btn btn-success text-white" asp-action="Create" style="float:right">Create</a>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Created Date
                    </th>
                    <th>
                        Operations
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var slider in Model)
                {
                    <tr data-id="@slider.Id">
                        <td class="py-1">
                            <img src="~/assets/img/slider/@slider.Image" style="width:153px;height:182px;border-radius:0" alt="image" />
                        </td>
                        <td>
                            @slider.Title
                        </td>
                        <td>
                            @slider.CreateDate.ToString("dd/MM/yyyy")
                        </td>

                        <td>
                            <a class="btn btn-outline-info" asp-action="Detail" asp-route-id="@slider.Id">Detail</a>
                            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@slider.Id">Edit</a>
                            <form class="d-inline-block" method="post" asp-action="Delete" asp-route-id="@slider.Id">
                                <button type="submit" class="btn btn-outline-danger">Delete</button>
                            </form>
                        </td>

                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>

