@model HomeVM
@{
    ViewData["Title"] = "Index";
}


<main>

    <!-- Slider -->
    <section id="slider">
        <div class="container">
            <div class="slider">
                <div id="carouselExampleDark" class="carousel carousel-dark slide">
                    <div class="carousel-indicators">

                        @for (int i = 0; i < Model.Sliders.Count; i++)
                        {
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="@i"
                                    class="active" aria-label="Slide @(i+1)"></button>
                        }
                        
                    </div>
                    <div class="carousel-inner">
                        @foreach (var item in Model.Sliders)
                        {

                            <div class="carousel-item @(item.IsMain ? "active" : "") slider-image" data-bs-interval="10000">

                                <div class="image">
                                    <img src="~/assets/img/slider/@item.Image" class="d-block w-100 firefly" alt="...">

                                </div>
                                <div class="text">
                                    <h1>@item.Title</h1>

                                </div>
                            </div>
                        }
                        
                        @*<div class="carousel-item slider-image" data-bs-interval="2000">
                            <div class="image">
                                <img src="~/assets/img/slider/slider2.jpg" class="d-block w-100 firefly" alt="...">

                            </div>
                            <div class="text">
                                <h1>Newest Models</h1>

                            </div>
                        </div>
                        <div class="carousel-item slider-image">
                            <div class="image">
                                <img src="~/assets/img/slider/slider3.jpg" class="d-block w-100 firefly" alt="...">

                            </div>
                            <div class="text">
                                <h1>Luxury Brands</h1>

                            </div>
                        </div>*@
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>


    </section>

    <!-- Lawson Collection -->

    <section id="collection">
        <div class="container">
            <div class="lawson-collection">
                <h1>@Model.Collection.Title</h1>
                <p>
                    @Model.Collection.Description
                </p>
            </div>
        </div>
    </section>

    <!-- Product Start -->

    <section id="products">
        <div class="container">
            <div class="product-all">
                <div class="row">
                    @foreach (var product in Model.Products.Take(3))
                    {
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="product" data-id="@product.Id">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <div class="product-icons">
                                        @*<i class="fa-regular fa-heart"></i>*@
                                        <i class="fa-solid fa-heart wishlist-add" style="margin-left:3px !important"></i>
                                        <i class="fa-solid fa-cart-shopping cart-add"></i>
                                    </div>
                                }
                                else 
                                {
                                    <div class="product-icons">
                                        @*<i class="fa-regular fa-heart"></i>*@
                                        <a asp-controller="Account" asp-action="Login"><i class="fa-solid fa-heart" style="margin-left:3px !important"></i></a>
                                        <a asp-controller="Account" asp-action="Login"><i class="fa-solid fa-cart-shopping cart-add"></i></a>
                                        
                                    </div>
                                }
                                
                                <div class="product-image">
                                    <a asp-controller="Shop" asp-action="ProductDetail" asp-route-id="@product.Id">
                                        <img src="~/assets/img/product/@product.Image" alt="">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <h6>@product.Name</h6>
                                    <h6>$@product.Price</h6>
                                    <a asp-controller="Shop" asp-action="ProductDetail" asp-route-id="@product.Id">VIEW MORE</a>
                                </div>
                            </div>
                        </div>

                    }
                    
                </div>
            </div>
        </div>
    </section>

    <!-- Swiss Essence -->

    <section id="swiss">
        <div class="container">
            <div class="swiss-all">
                <div class="row">
                    <div class="col-lg-6 col-sm-12 col-md-12">
                        <div class="text">
                            <h1>@Model.Essences.FirstOrDefault().Title</h1>
                            <p>
                                @Model.Essences.FirstOrDefault().Description
                            </p>
                            <a asp-controller="Shop" asp-action="Index">LEARN MORE</a>
                        </div>

                    </div>
                    <div class="col-lg-6 col-sm-12 col-md-12">
                        <div class="image">
                            <img src="~/assets/img/@Model.Essences.FirstOrDefault().Image" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Featured -->

    <section id="featured" style="margin:9rem 0 !important">
        <div class="container">
            <div class="featured-all">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="left">
                            <h6>01</h6>
                            <h2>@Model.Feature.TitleLeft</h2>
                            <p>
                                @Model.Feature.DescriptionLeft
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="middle">
                            <img src="~/assets/img/@Model.Feature.Image" alt="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="right">
                            <h6>02</h6>
                            <h2>@Model.Feature.TitleRight</h2>
                            <p>
                                @Model.Feature.DescriptionRight
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Swiss Essence--2 -->

    <section id="swiss">
        <div class="container">
            <div class="swiss-all">
                <div class="row">
                    <div class="col-lg-6 col-sm-12 col-md-12">
                        <div class="image">
                            <img src="~/assets/img/@Model.Essences.LastOrDefault().Image" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-md-12">
                        <div class="text" style="margin-left: 70px;">
                            <h1 style="width: 77%; font-size: 44px;">@Model.Essences.LastOrDefault().Title</h1>
                            <p style="width: 93%;">
                                @Model.Essences.LastOrDefault().Description
                            </p>
                            <a asp-controller="Blog" asp-action="Index">READ OUR STORY</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Product Best seller  -->

    <section id="products">
        <div class="container">
            <h1>Our Bestsellers</h1>
            <div class="product-all">
                <div class="row">
                    @foreach (var product in Model.Products.Take(4))
                    {
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="product" data-id="@product.Id">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <div class="product-icons">
                                        @*<i class="fa-regular fa-heart"></i>*@
                                        <i class="fa-solid fa-heart wishlist-add"></i>
                                        <i class="fa-solid fa-cart-shopping cart-add"></i>
                                    </div>
                                }
                                else
                                {
                                    <div class="product-icons">
                                        @*<i class="fa-regular fa-heart"></i>*@
                                        <a asp-controller="Account" asp-action="Login"><i class="fa-solid fa-heart"></i></a>
                                        <a asp-controller="Account" asp-action="Login"><i class="fa-solid fa-cart-shopping cart-add"></i></a>

                                    </div>
                                }
                                <div class="product-image">
                                    <a asp-controller="Shop" asp-action="ProductDetail" asp-route-id="@product.Id">
                                        <img src="~/assets/img/product/@product.Image" alt="">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <h6>@product.Name</h6>
                                    <h6>$@product.Price</h6>
                                    <a asp-controller="Shop" asp-action="ProductDetail" asp-route-id="@product.Id">VIEW MORE</a>
                                </div>
                            </div>
                        </div>

                    }
                    
                </div>
            </div>
            <div class="button">
                <a asp-controller="Shop" asp-action="Index">Show all</a>
            </div>

        </div>
    </section>






</main>